[alias]
  ksreview = "!f() { local SHA=${1:-HEAD}; local BRANCH=${2:-master}; if [ $SHA == $BRANCH ]; then SHA=HEAD; fi; git difftool -y -t Kaleidoscope $BRANCH...$SHA; }; f"

[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
  pager = delta

[delta]
  line-numbers = true
  navigate = true  # use n and N to move between diff sections

[diff]
  colorMoved = zebra
  tool = Kaleidoscope

[difftool]
  prompt = false
  trustExitCode = true

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[fetch]
  prune = true

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[github]
  user = lancejjohnson

[ghi]
  token = !security find-internet-password -a lancejjohnson -s github.com -l 'ghi token' -w

[init]
  defaultBranch = main

[interactive]
  diffFilter = delta --color-only

[merge]
  ff = only
  tool = Kaleidoscope
  conflictstyle = zdiff3

[mergetool]
  prompt = false

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustexitcode = true
  trustExitCode = true

[pull]
  ff = only

[push]
  default = current

[user]
  name = Lance Johnson
  email = lancejjohnson@gmail.com

