[alias]
	ksreview = "!f() { local SHA=${1:-HEAD}; local BRANCH=${2:-master}; if [ $SHA == $BRANCH ]; then SHA=HEAD; fi; git difftool -y -t Kaleidoscope $BRANCH...$SHA; }; f"
[color]
  ui = auto
# [commit]
#  template = ~/.gitmessage
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
  colorMoved = zebra
	tool = Kaleidoscope
[fetch]
  prune = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[github]
	user = lancejjohnson
[ghi]
	token = !security find-internet-password -a lancejjohnson -s github.com -l 'ghi token' -w
[init]
  templatedir = ~/.git_template
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[mergetool]
	prompt = false
[merge]
  ff = only
	tool = Kaleidoscope
[pull]
  ff = only
[push]
	default = current
[user]
	name = Lance Johnson
	email = lancejjohnson@gmail.com
